body {
  background-color: black;
}

h1 {
  color: aqua;
}

h2, p {
  color: gold;
}

.sidebar {
  float: right;
  background-color: aquamarine;
  border: 5px white solid;
  margin: 30px;
  padding 30px;
  height: 200px;
  width: 250px;
  text-align: center;
}

.photos {
  float: left;
}

img {
  height: 200px;
  padding: 30px;
}